.container {
	width:1366px;
	height:92.51px;
}
.containet-inner {
	width:46px;
	height:24px;
	top:51px;
	Left:305px;
	Font:Montserrat;
	size:18px;
	
}


#logo {
	position: absolute;
	width: 159px;
	height: 146px;
	left: 62px;
	top: -50px;
}
#container{
	position: absolute;
	display:inline;
	width: 1366px;
	height: 92.51px;
	left: 0px;
	top: 0px;
	background: white;
}
#con-inner1{
	position: absolute;
	width: 46px;
	height: 24px;
	left: 305px;
	top: 51px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #060606;
}
#con-inner2{
	display:inline;
	position: absolute;
	width: 130px;
	height: 24px;
	left: 386px;
	top: 51px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #060606;
}
#con-inner3{
	position: absolute;
	width: 120px;
	height: 24px;
	left: 543px;
	top: 51px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #060606;	
}
#con-inner4{
	position: absolute;
	width: 123px;
	height: 45px;
	left: 698px;
	top: 51px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #060606;	
}
#con-inner5{
	position: absolute;
	width: 153px;
	height: 45px;
	left: 856px;
	top: 51px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #060606;

}
#con-inner6{
	position: absolute;
	width: 188px;
	height: 29px;
	left: 1036px;
	top: 51px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #060606;
}
#con-inner7{
	position: absolute;
	width: 29px;
	height: 29px;
	left: 1275px;
	top: 51px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #060606;
}
#ideja{
	position: absolute;
	width: 182px;
	height: 70px;
	left: 592px;
	top: 205px;
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 71px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #2F4858;
}
#ideja_teksts{
position: absolute;
width: 606px;
height: 112px;
left: 380px;
top: 335px;
font-family: Montserrat;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #2F4858;	
}
#banner{
	position: absolute;
	width: 1366px;
	height: 705px;
	left: 0 px;
	top: 1302px;
	background: linear-gradient(180deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
	transform: rotate(-180deg);
}
#rectangle{
	position: relative;
	width: 1366px;
	height: 2244px;
	background: #FFFFFF;
}


#ripped1{
	position: absolute;
	width: 1366px;
	height: 55px;
	left: 1366px;
	top: 652px;
	background: url("assets/img/font/ripped.png");
	transform: rotate(-180deg);
}
#Juris{
	position: absolute;
	width: 1366px;
	height: 701px;
	left: 0px;
	top: 597px;
	background: url("Juris.jpg");	
}
#stasts{
	position: absolute;
	width: 818px;
	height: 108px;
	left: 274px;
	top: 1105px;
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	
}
#citate1{
	position: absolute;
	width: 388px;
	height: 29px;
	left: 381px;
	top: 1452px;
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #2F4858;	
	
}
#citate2{
	position: absolute;
	width: 500px;
	height: 25px;
	left: 380px;
	top: 1491px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	color: #2F4858;	
	
}
#citate3 {
	position: absolute;
	width: 602px;
	height: 119px;
	left: 384px;
	top: 1546px;
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	color: #2F4858;
}
#left{
	position: absolute;
	width: 23px;
	height: 12px;
	left: 396px;
	top: 1695px;
	
}
#right{
	position: absolute;
	width: 23px;
	height: 12px;
	left: 442px;
	top: 1707px;
	
	transform: rotate(-180deg);
}
.section{
	position: absolute;
	width: 1366px;
	height: 376px;
	left: 0px;
	top: 1868px;

}
.footer_logo{
	position: absolute;
	left: 4.54%;
	right: 82.14%;
	top: 19.41%;
	bottom: 32.18%;
	
}
.fot_menu{
	position: absolute;
	left: 27.89%;
	top: 30.85%;
	bottom: 62.77%;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	list-style: none;
	
}
.fot_link{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	top: 30.85%;
}
.fot_table2{
	position: absolute;
	left: 47%;
	top: 30.85%;
	bottom: 62.77%;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	list-style: none;
	
}


.fot_table{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	left:47%;
	top: 30.85%;
}
.fot_table_name{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFF;
	left:47%;
	top: 30.85%;
	padding: 10px 0px 22px 0px;
}
.kontakti_main{
	position: absolute;
	left: 908px;
	right: 64px;
	top: 24.73%;
	bottom: 63.3%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: right;

color: #FFFFFF;
}
.kontakti_pers{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: right;
color: #FFFFFF;
}
.soc_net_fb{
	position: absolute;
	left: 1221px;
	right: 127px;
	top: 203.34px;
	bottom: 22.61%;
	background: #FFFFFF;

	
}
.soc_net_inst{
	top: 203.34 px;
	bottom: 85px;
	left:1268px;
	right:62px;
	Height:36px;
	width:36px;
	
	
}
.picture{
padding:10px;	
}
.column {
  float: right;
  padding: 5px;
  height:36px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
